#### 01. Import Dependencies

How Binning Helps?

1. Non-linear relationship with target
- Binning can help capture non-linear patterns that a linear model might miss

2. Skewed distribution 
- Binning can smooth out skew and reduce the effect of extreme values

3. Interpretability is key
- Easier for business users to understand "age 18–25" than "age = 23"

4. Model is prone to overfitting
- Binning reduces granularity → fewer splits → less overfitting

5. Need to reduce cardinality
- Helps when a numeric column has too many unique values

6. Sparse or noisy data
- Binning can group rare or noisy values to improve signal strength

In [11]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### 02. Basic Processing

In [12]:
df = pd.read_csv('data/processed/ChurnModelling_Outliers_Handled.csv')
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.00,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42.00,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,38.91,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0

In [13]:
print(f'Age : {df['Age'].min(), df['Age'].max()}')
print(f'Credit Score : {df['CreditScore'].min(), df['CreditScore'].max()}')

Age : (np.float64(18.0), np.float64(92.0))
Credit Score : (np.int64(350), np.int64(850))

In [14]:
def custom_binning_credit_score(score):
    if score < 580:
        return 'Poor'
    if score < 670:
        return 'Fair'
    if score < 740:
        return 'Good'
    if score < 800:
        return 'Very Good'
    if score <= 850:
        return 'Excellent'
    else: 
        assert True, "Credit Score can't go beyond 850"

df['CreditScoreBins'] = df['CreditScore'].apply(custom_binning_credit_score)
del df['CreditScore']

df.head()

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,Excellent

If you want you can add binning for age(Create age groups) as well.

In [15]:
df.to_csv('data/processed/ChurnModelling_Binning_Applied.csv', index=False)