#### 01. Import Dependencies

In [1]:
import os
import numpy as numpy
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

| Variable Type | Preferred Encoding | Why? |
|--------------|-------------------|------|
| Nominal | One-Hot Encoding | No inherent order → avoids implying false ordinal relationships |
| Ordinal | Label Encoding | Preserves order → small integers represent increasing levels |

Gender <**Male**, **Female**>

|  | Gender_Male | Gender_Female |
|--------------|-------------------|------|
| Male | 1 | 0 |
| Female | 0 | 1 |


(Assume Gender is Ordinal);
    Male -> 1
    Female -> 0

Gender -> Nominal </br>
Geography -> Nominal </br>
CreditScoreBins -> Ordinal </br>

In [2]:
df = pd.read_csv('data/processed/ChurnModelling_Binning_Applied.csv')
df.head()

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,Excellent

#### 02. Nominal Variables

In [5]:
norminal_variables = ['Geography', 'Gender']
# This can do easily using scikit-learn Label Encoder, But now i'm doing it thorugh programatic way

geography_dummies = pd.get_dummies(df['Geography'], prefix='Geography')
gender_dummies = pd.get_dummies(df['Gender'], prefix='Gender')

df_encoded= pd.concat([df, geography_dummies], axis=1)
del df_encoded['Geography']

df_encoded= pd.concat([df_encoded, gender_dummies], axis=1)
del df_encoded['Gender']

df_encoded

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.00,2,0.00,1,1,1,101348.88,1,Fair,True,False,False,True,False
1,41.00,1,83807.86,1,0,1,112542.58,0,Fair,False,False,True,True,False
2,42.00,8,159660.80,3,1,0,113931.57,1,Poor,True,False,False,True,False
3,38.91,1,0.00,2,0,0,93826.63,0,Good,True,False,False,True,False
4,43.00,2,125510.82,1,1,1,79084.10,0,Excellent,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,39.00,5,0.00,2,1,0,96270.64,0,Very Good,True,False,False,False,True
9996,35.00,10,57369.61,1,1,1,101699.77,0,Poor,True,False,False,False,True
9997,36.00,7,0.00,1,0,1,42085.58,1,Good,True,False,False,True,False
9998,42.00,3,75075.31,2,1,0,92888.52,1,Very Good,False,True,False,False,True
9999,28.00,4,130142.79,1,1,0,38190.78,0,Very Good,True,False,False,True,False

#### 03. Encode Ordinal Variables