#### 01. Import Dependencies

In [1]:
import os
import numpy as numpy
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

| Variable Type | Preferred Encoding | Why? |
|--------------|-------------------|------|
| Nominal | One-Hot Encoding | No inherent order → avoids implying false ordinal relationships |
| Ordinal | Label Encoding | Preserves order → small integers represent increasing levels |

Gender <**Male**, **Female**>

|  | Gender_Male | Gender_Female |
|--------------|-------------------|------|
| Male | 1 | 0 |
| Female | 0 | 1 |


(Assume Gender is Ordinal);
    Male -> 1
    Female -> 0

Gender -> Nominal </br>
Geography -> Nominal </br>
CreditScoreBins -> Ordinal </br>

In [3]:
df = pd.read_csv('data/processed/ChurnModelling_Binning_Applied.csv')
df.head()

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,Excellent

#### 02. Encode Ordinal Variables